{{define "footer"}}
<div class="h-[5vh] py-10 bg-gray-100 text-black font-normal align-middle">
    <div class="float-left ml-10">Sonr Inc, 2022</div>
    <div class="float-right mr-10 flex flex-row">
        <a href="https://twitter.com/sonr_io" className="mr-10 hover:underline">
          Twitter
        </a>
        <a href="https://discord.com/invite/tjWMfvQZ7b" class="mr-10 hover:underline">
          Discord
        </a>
        <a href="https://www.instagram.com/sonr.protocol/" class="mr-10 hover:underline">
          Instagram
        </a>
        <a href="https://www.linkedin.com/company/sonr-io/" class="mr-10 hover:underline">
          LinkedIn
        </a>
        <a href="mailto:info@sonr.io" class="hover:underline">
          Contact
        </a>
    </div>
</div>
{{end}}