{{define "info-footer"}}
<div class="row">
    <div class="col-lg-7 flex flex-col align-middle text-center pt-20">
        <h3 class="pb-2 text-6xl font-semibold">What is Sonr?
            <h3>
                <p class="font-medium text-xl px-5">
                    Sonr is an ecosystem of decentralized peer-to-peer applications built on top of an identity-based
                    blockchain, which leverages the
                    <a href="https://cosmos.network/"> Cosmos infrastructure</a>. The ecosystem includes tools to
                    empower developers to build decentralized applications.
                </p>
    </div>
    <div class="col-lg-5 d-flex justify-content-center mb-5">
        <img role="presentation" alt="" src="/dist/images/Logomark.png" class="w-1/2 pt-20">
    </div>


</div>
<div class="text-center items-center font-bold text-4xl flex flex-col pt-10">
    <div class="pb-10">
        What Are Decentralized Identifiers?
    </div>
    <div>
        <iframe width="1120" height="630" src="https://www.youtube.com/embed/Ew-_F-OtDFI" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen className="flex flex-col items-center pr-20"></iframe>
    </div>
</div>
<h3 class="title text-center align-middle text-6xl font-semibold py-20">FAQ</h3>
</center>
<div class="flex flex-row">

    <div class="col-lg-6 text-3xl font-light">
        <h3>What is Sonr?
            <h3>
                <p>
                    Sonr is an ecosystem of decentralized peer-to-peer applications built on top of an identity-based
                    blockchain, which leverages the
                    <a href="https://cosmos.network/"> Cosmos infrastructure</a>. The ecosystem includes tools to
                    empower developers to build decentralized applications.
                </p>
            </h3>
        </h3>
    </div>
    <div class="col-lg-6 text-3xl font-light">
        <h3>How can I get involved?
            <h3>
                <p>
                    If you’re a developer, check out
                    <a href="http://sonr.dev ">sonr.dev </a>for information on our available tools, grant programs,
                    hackathons, and bounty opportunity. You can also join our
                    <a href="https://discord.com/invite/tjWMfvQZ7b">Discord</a> and follow us on
                    <a href="https://twitter.com/sonr_io"> Twitter</a>.
                </p>
            </h3>
        </h3>
    </div>

</div>
<div class="flex flex-row">

    <div class="col-lg-6 text-3xl font-light">
        <h3>Why should I care?
            <h3>
                <p>
                    Our interactions and experiences in the newly evolving internet paradigm will be governed by
                    decentralized mechanisms. Sonr equips users for this by putting identity at the core of the
                    ecosystem.
                </p>
            </h3>
        </h3>
    </div>
    <div class="col-lg-6 text-3xl font-light">
        <h3>What is in the team’s upcoming roadmap?
            <h3>
                <p>
                    We aim to have our mainnet launched and TGE by July. In parallel the team will build out additional
                    developer tools and work with external developers to build decentralized applications in the
                    ecosystem.

                </p>
            </h3>
        </h3>
    </div>

</div>


<div class="flex flex-row">
    <!-- <style>
        .container {
            width: 600px;
            height: 200px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .box {
            background: rgb(18, 19, 18);
            width: 100px;
            height: 100px;
            margin: 0 15px;
        }

        h3 {
            text-align: center;
            padding-top: 2px;
            color: blanchedalmond;

        }

        .box h1 {
            font-size: 50px;
            text-align: center;
            font-family: sans-serif;
            font-weight: 800;
            margin-bottom: 15px;
            color: blanchedalmond;
        }

        .alert {
            display: none;
        } -->
    <!-- </style> -->

    <div class="container">
        <div class="box">
            <h3 id="hourstxt">Hours</h2>
                <h1 id="hours">00</h1>
        </div>
        <div class="box">
            <h3 id="minutestxt">Minutes</h2>
                <h1 id="minutes">00</h1>
        </div>
        <div class="box">
            <h3 id="secondstxt">Seconds</h2>
                <h1 id="seconds">00</h1>
        </div>
    </div>

    <div style="background: rgb(204, 24, 24);" class="alert">
        <h1 style="padding: 50px 80px;color: white;">Go Register a .snr/</h1>
    </div>
</div>
<script>
    const finaleDate = new Date("March 17, 2022 14:30:00").getTime();

    const timer = () => {
        const now = new Date().getTime();
        let diff = finaleDate - now;
        if (diff < 0) {
            document.querySelector('.alert').style.display = 'block';
            document.querySelector('.container').style.display = 'none';
        }

        let days = Math.floor(diff / (1000 * 60 * 60 * 24));
        let hours = Math.floor(diff % (1000 * 60 * 60 * 24) / (1000 * 60 * 60));
        let minutes = Math.floor(diff % (1000 * 60 * 60) / (1000 * 60));
        let seconds = Math.floor(diff % (1000 * 60) / 1000);

        days <= 99 ? days = `0${days}` : days;
        days <= 9 ? days = `00${days}` : days;
        hours <= 9 ? hours = `0${hours}` : hours;
        minutes <= 9 ? minutes = `0${minutes}` : minutes;
        seconds <= 9 ? seconds = `0${seconds}` : seconds;

        document.querySelector('#hours').textContent = hours;
        document.querySelector('#minutes').textContent = minutes;
        document.querySelector('#seconds').textContent = seconds;

    }
    timer();
    setInterval(timer, 1000);

</script>


<center>
    <div class="col-lg-12 items-center pb-20">
        <p>
            Didn’t find your answer?
            <a href="mailto:team@sonr.io">Contact us here</a>
        </p>
    </div>
</center>

</div>
</div>
{{end}}