{{define "content"}}
<div class="hero section">
    <div class="container">
        <div class="row">
            <div class="main-content col-md-12">
                <div class="row pt-20">
                    <div class="hero-left order-2 col-lg-6 order-lg-1 py-10">
                        <h2 class="text-5xl font-semibold">Welcome To The New Internet</h2>
                        <h5 class="text-3xl font-light pb-4">Secure your .snr/ name here</h5>
                        <div class="hero-form">
                            <div class="form-group">
                                <input type="email" class="form-control form-control-lg" id="input-email" placeholder="Enter your .snr/ name">
                            </div>
                            <div class="input-group">
                                <button onclick="makeCredential()" id="register-button" class="btn btn-lg btn-primary">
                                    Register
                                </button>
                            </div>
                            <div class="input-group">
                                <div id="alert">
                                    <img class="warning-icon" src="/dist/images/Minimal.png" class="w-1/2 pt-5" />
                                    <span id="alert-msg"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="hero-right order-1 col-lg-6 order-lg-2 pr-10">
                        <img role="presentation" class="main w-1/2 pt-20" alt="" src="/dist/images/Minimal.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{end}}