{{define "content"}}
<div class="hero section">
    <div class="container">
        <div class="row">
            <div class="main-content col-md-12">
                <div class="row">
                    <div class="hero-left order-2 col-lg-6 order-lg-1">
                        <h2>Sonr</h2>
                        <h5>Register for your .snr/ name here</h5>
                        <div class="mt-5 hero-form">
                            <div class="form-group">
                                <input type="email" class="form-control form-control-lg" id="input-email" placeholder="example_username">
                            </div>
                            <div class="input-group mb-3">
                                <button onclick="makeCredential()" id="register-button" class="btn btn-lg btn-primary">
                                    Register
                                </button>
                            </div>
                            <div class="mb-3">
                                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#advancedSettings" aria-expanded="false" aria-controls="collapseExample">
                                    Advanced Settings
                                </button>
                            </div>
                            <div class="input-group">
                                <div id="alert">
                                    <img class="warning-icon" src="/dist/images/warning.svg" />
                                    <span id="alert-msg"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="hero-right order-1 col-lg-6 order-lg-2">
                        <img role="presentation" class="main" alt="" src="/dist/images/header-illi.svg">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{end}}