{{define "content"}}
<main>
    <div class="h-[100vh] flex flex-col justify-center align-middle text-center">
        <h1 class="text-[72px] text-blue-500 font-extrabold">
            {` Welcome to The New Internet`}
        </h1>
        <h2 class="text-2xl max-w-2xl font-light mx-auto">
            {`You're in. Thank you and congratulations on securing your .snr/ domain name. Check your email for purchase confirmation.`}
        </h2>
        <h3>
            {' '}
            <a href="/" class="hover:text-blue-500 cursor-pointer">
            {' '}
            {`Click here to return to Sonr`}
          </a>
        </h3>
    </div>
</main>
{{end}}